@{
    ViewBag.Title = "Flag Finder";
}

<h1 style="display:inline-block; ">@ViewBag.Title <span style="vertical-align: middle;" id="counter" class="badge">@ViewBag.FlagCount</span> <button class="btn btn-default" onclick="reset()">Reset</button></h1>

<div class="row button-row" style="vertical-align:middle">
    <div class="col-md-1">
        <h5 style="display:inline-block">Colors </h5>
    </div>
    <div class="col-md-11">
        <button class="btn filter-color" value="red" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Red</button>
        <button class="btn filter-color" value="orange" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Orange</button>
        <button class="btn filter-color" value="yellow" onclick="clickColor(this)" style="color:black"><span class="glyphicon glyphicon-minus"></span> Yellow</button>
        <button class="btn filter-color" value="green" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Green</button>
        <button class="btn filter-color" value="blue" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Blue</button>
        <button class="btn filter-color" value="purple" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Purple</button>
        <button class="btn filter-color" value="brown" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Brown</button>
        <button class="btn filter-color" value="white" onclick="clickColor(this)" style="color:black; border: 1px solid grey"><span class="glyphicon glyphicon-minus"></span> White</button>
        <button class="btn filter-color" value="black" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Black</button>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h5 style="display:inline-block">Shapes </h5>
    </div>
    <div class="col-md-11">
        <button class="btn filter-shape" value="circle" onclick="clickColor(this)" title="Flag has an obvious defined circle.">
            <span class="glyphicon glyphicon-minus"></span> Circle
        </button>
        <button class="btn filter-shape" value="triangle" onclick="clickColor(this)" title="A triangle appears anywhere on the flag. Some of the triangles are not obvious.">
            <span class="glyphicon glyphicon-minus"></span> Triangle
        </button>
        <button class="btn filter-shape" value="star" onclick="clickColor(this)" title="Stars are not limited to the five point star common on many flags.">
            <span class="glyphicon glyphicon-minus"></span> Star
        </button>
        <button class="btn filter-shape" value="sun" onclick="clickColor(this)">
            <span class="glyphicon glyphicon-minus"></span> Sun
        </button>
        <button class="btn filter-shape" value="moon" onclick="clickColor(this)" title="Flag has a crescent moon.">
            <span class="glyphicon glyphicon-minus"></span> Moon
        </button>
        <button class="btn filter-shape" value="cross" onclick="clickColor(this)" title="Flag has a horizonal line and a vertical line that overlap each other.">
            <span class="glyphicon glyphicon-minus"></span> Cross
        </button>
        <button class="btn filter-shape" value="tri-color-horz" onclick="clickColor(this)" title="Flag has 3 broad horizontal stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorHorizontal.png" />
        </button>
        <button class="btn filter-shape" value="tri-color-vert" onclick="clickColor(this)" title="Flag has 3 broad vertical stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorVertical.png" />
        </button>
        <button class="btn filter-shape" value="bi-color-horz" onclick="clickColor(this)" title="Flag has 2 broad horizontal stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/BiColorHorizontal.png" />
        </button>
    </div>
</div>
<hr class="filter-hr" />
<div class="row">
    <div class="col-md-12 text-center">
        @foreach (var f in ViewBag.Flags)
        {
            string CachedDataAnnotationsMetadataAttributes = "";
            if (f.Red)
            {
                CachedDataAnnotationsMetadataAttributes += " data-red";
            }
            if (f.Orange)
            {
                CachedDataAnnotationsMetadataAttributes += " data-orange";
            }
            if (f.Yellow)
            {
                CachedDataAnnotationsMetadataAttributes += " data-yellow";
            }
            if (f.Green)
            {
                CachedDataAnnotationsMetadataAttributes += " data-green";
            }
            if (f.Blue)
            {
                CachedDataAnnotationsMetadataAttributes += " data-blue";
            }
            if (f.Purple)
            {
                CachedDataAnnotationsMetadataAttributes += " data-purple";
            }
            if (f.Brown)
            {
                CachedDataAnnotationsMetadataAttributes += " data-brown";
            }
            if (f.White)
            {
                CachedDataAnnotationsMetadataAttributes += " data-white";
            }
            if (f.Black)
            {
                CachedDataAnnotationsMetadataAttributes += " data-black";
            }
            if (f.Circle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-circle";
            }
            if (f.Triangle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-triangle";
            }
            if (f.Star)
            {
                CachedDataAnnotationsMetadataAttributes += " data-star";
            }
            if (f.Sun)
            {
                CachedDataAnnotationsMetadataAttributes += " data-sun";
            }
            if (f.Moon)
            {
                CachedDataAnnotationsMetadataAttributes += " data-moon";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.TriColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-horz";
            }
            if (f.TriColorVertical)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-vert";
            }
            if (f.BiColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-bi-color-horz";
            }
            string link = f.Name;
            if (link.Contains(" "))
            {
                link = link.Replace(" ", "%20");
            }

            <div class="flag-tile" @CachedDataAnnotationsMetadataAttributes>
                <label class="label label-default flag-label">
                    @if (f.ShortName != "")
                    {
                        @f.ShortName
                    }
                    else
                    {
                        @f.Name
                    }
                </label><br />
                <a href="/Home/Flag/@link"><img class="flag-image" src="@f.ImageLocation" /></a>
            </div>
        }
    </div>
</div>
<br />

@*<script src="~/Scripts/site.js"></script>*@

<script>
    function reset() {
        //reset color buttons
        var colorButtons = $(".filter-color");
        colorButtons.each((function (i) {
            var colorButton = $(this);
            setButtonInLimbeau(colorButton);
        }));
        //reset shape buttons
        var shapeButtons = $(".filter-shape");
        shapeButtons.each((function (i) {
            var shapeButton = $(this);
            setButtonInLimbeau(shapeButton);
        }));
        filterFlags();
    }

    function setButtonInLimbeau(button) {
        if (button.hasClass("filter-color")) {
            button.removeClass("selected");
            button.removeClass("not-selected");
        } else if (button.hasClass("filter-shape")) {
            button.removeClass("selected-shape");
            button.removeClass("not-selected-shape");
        }
        button.addClass("in-limbeau");
        var glyphSpan = button.children();
        glyphSpan.removeClass("glyphicon-ok");
        glyphSpan.removeClass("glyphicon-remove");
        glyphSpan.addClass("glyphicon-minus");
    }

    function clickColor(sender) {
        changeButton(sender);
        filterFlags();
    }

    function filterFlags() {
        var colorButtons = $(".filter-color");
        var filterStatuses = [];
        colorButtons.each((function (i) {
            var colorButton = $(this);
            var color = colorButton.val();
            var status = "";
            if (colorButton.hasClass("selected")) {
                status = "yes";
            } else if (colorButton.hasClass("not-selected")) {
                status = "no";
            }
            filterStatuses.push({ Filter: color, Status: status });
        }));

        var shapeButtons = $(".filter-shape");
        shapeButtons.each((function (i) {
            var shapeButton = $(this);
            var shape = shapeButton.val();
            var status = "";
            if (shapeButton.hasClass("selected-shape")) {
                status = "yes";
            } else if (shapeButton.hasClass("not-selected-shape")) {
                status = "no";
            }
            filterStatuses.push({ Filter: shape, Status: status });
        }));

        var flagRows = $(".flag-tile");
        var flagCount = 0;
        flagRows.each(function (row) {
            var flagRow = $(this);
            flagRow.show();
            flagCount++;
            $.each(filterStatuses, function (i) {
                if (filterStatuses[i].Status != "") {
                    var checkBox = flagRow.find("." + filterStatuses[i].Filter + "-check");
                    var checkBoxChecked = flagRow.is("[data-" + filterStatuses[i].Filter + "]");
                    var colorIsSelected = (filterStatuses[i].Status == "yes");
                    if ((!colorIsSelected && checkBoxChecked) ||
                        (colorIsSelected && !checkBoxChecked)) {
                        flagRow.hide();
                        flagCount--;
                        return false;
                    }
                }
            });
        })

        $("#counter").text(flagCount);
    }

    function changeButton(sender) {
        var clickedButton = $(sender);
        var glyphSpan = clickedButton.children();
        if (glyphSpan.hasClass("glyphicon-minus")) {
            //selected
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.removeClass("in-limbeau");
            } else {
                clickedButton.removeClass("in-limbeau-shape");
            }
            glyphSpan.removeClass("glyphicon-minus");
            glyphSpan.addClass("glyphicon-ok");
            clickedButton.css("background-color", clickedButton.val());
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.addClass("selected");
            } else {
                clickedButton.addClass("selected-shape");
            }
            return true;
        } else if (glyphSpan.hasClass("glyphicon-ok")) {
            //not selected
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.removeClass("selected");
            } else {
                clickedButton.removeClass("selected-shape");
            }
            glyphSpan.removeClass("glyphicon-ok");
            glyphSpan.addClass("glyphicon-remove");
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.addClass("not-selected");
            } else {
                clickedButton.addClass("not-selected-shape");
            }
            return false;
        } else if (glyphSpan.hasClass("glyphicon-remove")) {
            //in limbeau
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.removeClass("not-selected");
            } else {
                clickedButton.removeClass("not-selected-shape");
            }
            glyphSpan.removeClass("glyphicon-remove");
            glyphSpan.addClass("glyphicon-minus");
            clickedButton.css("background-color", clickedButton.val());
            if (clickedButton.hasClass("filter-color")) {
                clickedButton.addClass("in-limbeau");
            } else {
                clickedButton.addClass("in-limbeau-shape");
            }
            return true;
        }
    }

    $(function () {
        //Set button colors
        $(".filter-color").each(function () {
            $(this).css("background-color", $(this).val())
        });
    });

</script>