@{
    ViewBag.Title = "Flag Finder";
}

<h1 style="display:inline-block; ">@ViewBag.Title <span style="vertical-align: middle;" id="counter" class="badge">@ViewBag.FlagCount</span></h1>

<div class="row button-row">
    <div class="col-md-12 text-center">
        <button class="btn filter-color" value="red" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Red</button>
        <button class="btn filter-color" value="orange" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Orange</button>
        <button class="btn filter-color" value="yellow" onclick="clickColor(this)" style="color:black"><span class="glyphicon glyphicon-minus"></span> Yellow</button>
        <button class="btn filter-color" value="green" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Green</button>
        <button class="btn filter-color" value="blue" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Blue</button>
        <button class="btn filter-color" value="purple" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Purple</button>
        <button class="btn filter-color" value="brown" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Brown</button>
        <button class="btn filter-color" value="white" onclick="clickColor(this)" style="color:black; border: 1px solid grey"><span class="glyphicon glyphicon-minus"></span> White</button>
        <button class="btn filter-color" value="black" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Black</button>
    </div>
</div>
<div class="row button-row">
    <div class="col-md-12 text-center">
        <button class="btn filter-shape" value="circle" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Circle</button>
        <button class="btn filter-shape" value="triangle" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Triangle</button>
        <button class="btn filter-shape" value="star" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Star</button>
        <button class="btn filter-shape" value="sun" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Sun</button>
        <button class="btn filter-shape" value="moon" onclick="clickColor(this)" ><span class="glyphicon glyphicon-minus"></span> Moon</button>
        <button class="btn filter-shape" value="cross" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Cross</button>        
        <button class="btn filter-shape" value="tri-color-horz" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorHorizontal.png" /> </button>   
        <button class="btn filter-shape" value="tri-color-vert" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorVertical.png" /> </button>   
        <button class="btn filter-shape" value="bi-color-horz" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/BiColorHorizontal.png" /> </button>   
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        @foreach (var f in ViewBag.Flags)
        {
            string CachedDataAnnotationsMetadataAttributes = "";
            if (f.Red)
            {
                CachedDataAnnotationsMetadataAttributes += " data-red";
            }
            if (f.Orange)
            {
                CachedDataAnnotationsMetadataAttributes += " data-orange";
            }
            if (f.Yellow)
            {
                CachedDataAnnotationsMetadataAttributes += " data-yellow";
            }
            if (f.Green)
            {
                CachedDataAnnotationsMetadataAttributes += " data-green";
            }
            if (f.Blue)
            {
                CachedDataAnnotationsMetadataAttributes += " data-blue";
            }
            if (f.Purple)
            {
                CachedDataAnnotationsMetadataAttributes += " data-purple";
            }
            if (f.Brown)
            {
                CachedDataAnnotationsMetadataAttributes += " data-brown";
            }
            if (f.White)
            {
                CachedDataAnnotationsMetadataAttributes += " data-white";
            }
            if (f.Black)
            {
                CachedDataAnnotationsMetadataAttributes += " data-black";
            }
            if (f.Circle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-circle";
            }
            if (f.Triangle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-triangle";
            }
            if (f.Star)
            {
                CachedDataAnnotationsMetadataAttributes += " data-star";
            }
            if (f.Sun)
            {
                CachedDataAnnotationsMetadataAttributes += " data-sun";
            }
            if (f.Moon)
            {
                CachedDataAnnotationsMetadataAttributes += " data-moon";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.TriColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-horz";
            }
            if (f.TriColorVertical)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-vert";
            }
            if (f.BiColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-bi-color-horz";
            }
            <div class="flag-tile" @CachedDataAnnotationsMetadataAttributes>
                <label class="label label-default flag-label">
                    @if (f.ShortName != "")
                    {
                        @f.ShortName
                    }
                    else
                    {
                        @f.Name
                    }
                </label><br /><img class="flag-image" src="@f.ImageLocation" />
            </div>
        }
    </div>
</div>

<script src="~/Scripts/site.js"></script>