@{
    ViewBag.Title = "Flag Finder";
}

<h1 style="display:inline-block; ">@ViewBag.Title <span style="vertical-align: middle;" id="counter" class="badge">@ViewBag.FlagCount</span> <button class="btn btn-default" onclick="reset()">Reset</button></h1>

<div class="row button-row" style="vertical-align:middle">
    <div class="col-md-1">
        <h5 style="display:inline-block">Colors </h5>
    </div>
    <div class="col-md-11">
        <button class="btn filter-color" value="red" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Red</button>
        <button class="btn filter-color" value="orange" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Orange</button>
        <button class="btn filter-color" value="yellow" onclick="clickColor(this)" style="color:black"><span class="glyphicon glyphicon-minus"></span> Yellow</button>
        <button class="btn filter-color" value="green" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Green</button>
        <button class="btn filter-color" value="blue" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Blue</button>
        <button class="btn filter-color" value="purple" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Purple</button>
        <button class="btn filter-color" value="brown" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Brown</button>
        <button class="btn filter-color" value="white" onclick="clickColor(this)" style="color:black; border: 1px solid grey"><span class="glyphicon glyphicon-minus"></span> White</button>
        <button class="btn filter-color" value="black" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Black</button>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h5 style="display:inline-block">Shapes </h5>
    </div>
    <div class="col-md-11">
        <button class="btn filter-shape" value="circle" onclick="clickColor(this)" title="Flag has an obvious defined circle.">
            <span class="glyphicon glyphicon-minus"></span> Circle
        </button>
        <button class="btn filter-shape" value="triangle" onclick="clickColor(this)" title="A triangle appears anywhere on the flag. Some of the triangles are not obvious.">
            <span class="glyphicon glyphicon-minus"></span> Triangle
        </button>
        <button class="btn filter-shape" value="star" onclick="clickColor(this)" title="Stars are not limited to the five point star common on many flags.">
            <span class="glyphicon glyphicon-minus"></span> Star
        </button>
        <button class="btn filter-shape" value="sun" onclick="clickColor(this)">
            <span class="glyphicon glyphicon-minus"></span> Sun
        </button>
        <button class="btn filter-shape" value="moon" onclick="clickColor(this)" title="Flag has a crescent moon.">
            <span class="glyphicon glyphicon-minus"></span> Moon
        </button>
        <button class="btn filter-shape" value="cross" onclick="clickColor(this)" title="Flag has a horizonal line and a vertical line that overlap each other.">
            <span class="glyphicon glyphicon-minus"></span> Cross
        </button>
        <button class="btn filter-shape" value="tri-color-horz" onclick="clickColor(this)" title="Flag has 3 broad horizontal stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorHorizontal.png" />
        </button>
        <button class="btn filter-shape" value="tri-color-vert" onclick="clickColor(this)" title="Flag has 3 broad vertical stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/TriColorVertical.png" />
        </button>
        <button class="btn filter-shape" value="bi-color-horz" onclick="clickColor(this)" title="Flag has 2 broad horizontal stripes with no colors in between.">
            <span class="glyphicon glyphicon-minus"></span> <img src="~/Content/Images/BiColorHorizontal.png" />
        </button>
    </div>
</div>
<hr class="filter-hr" />
<div class="row">
    <div class="col-md-12 text-center">
        @foreach (var f in ViewBag.Flags)
        {
            string CachedDataAnnotationsMetadataAttributes = "";
            if (f.Red)
            {
                CachedDataAnnotationsMetadataAttributes += " data-red";
            }
            if (f.Orange)
            {
                CachedDataAnnotationsMetadataAttributes += " data-orange";
            }
            if (f.Yellow)
            {
                CachedDataAnnotationsMetadataAttributes += " data-yellow";
            }
            if (f.Green)
            {
                CachedDataAnnotationsMetadataAttributes += " data-green";
            }
            if (f.Blue)
            {
                CachedDataAnnotationsMetadataAttributes += " data-blue";
            }
            if (f.Purple)
            {
                CachedDataAnnotationsMetadataAttributes += " data-purple";
            }
            if (f.Brown)
            {
                CachedDataAnnotationsMetadataAttributes += " data-brown";
            }
            if (f.White)
            {
                CachedDataAnnotationsMetadataAttributes += " data-white";
            }
            if (f.Black)
            {
                CachedDataAnnotationsMetadataAttributes += " data-black";
            }
            if (f.Circle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-circle";
            }
            if (f.Triangle)
            {
                CachedDataAnnotationsMetadataAttributes += " data-triangle";
            }
            if (f.Star)
            {
                CachedDataAnnotationsMetadataAttributes += " data-star";
            }
            if (f.Sun)
            {
                CachedDataAnnotationsMetadataAttributes += " data-sun";
            }
            if (f.Moon)
            {
                CachedDataAnnotationsMetadataAttributes += " data-moon";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.Cross)
            {
                CachedDataAnnotationsMetadataAttributes += " data-cross";
            }
            if (f.TriColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-horz";
            }
            if (f.TriColorVertical)
            {
                CachedDataAnnotationsMetadataAttributes += " data-tri-color-vert";
            }
            if (f.BiColorHorizontal)
            {
                CachedDataAnnotationsMetadataAttributes += " data-bi-color-horz";
            }
            string link = f.Name;
            if (link.Contains(" "))
            {
                link = link.Replace(" ", "%20");
            }

            <div class="flag-tile" @CachedDataAnnotationsMetadataAttributes>
                <label class="label label-default flag-label">
                    @if (f.ShortName != "")
                    {
                        @f.ShortName
                    }
                    else
                    {
                        @f.Name
                    }
                </label><br />
                <a href="/Home/Flag/@link"><img class="flag-image" src="@f.ImageLocation" /></a>
            </div>
        }
    </div>
</div>
<br />

<script src="~/Scripts/site.js"></script>