@{
    ViewBag.Title = "Flag Finder";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th><button class="btn filter-color" value="red" onclick="clickColor(this)" ><span class="glyphicon glyphicon-minus"></span> Red</button></th>
                    <th><button class="btn filter-color" value="orange" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Orange</button></th>
                    <th><button class="btn filter-color" value="yellow" onclick="clickColor(this)" style="color:black"><span class="glyphicon glyphicon-minus"></span> Yellow</button></th>
                    <th><button class="btn filter-color" value="green" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Green</button></th>
                    <th><button class="btn filter-color" value="blue" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Blue</button></th>
                    <th><button class="btn filter-color" value="purple" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Purple</button></th>
                    <th><button class="btn filter-color" value="brown" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Brown</button></th>
                    <th><button class="btn filter-color" value="white" onclick="clickColor(this)" style="color:black; border: 1px solid grey"><span class="glyphicon glyphicon-minus"></span> White</button></th>
                    <th><button class="btn filter-color" value="black" onclick="clickColor(this)"><span class="glyphicon glyphicon-minus"></span> Black</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var et in ViewBag.Flags)
            {
                    <tr>
                        <td>@et.Name</td>
                        <td><input type="checkbox" checked="@et.Red" /></td>
                        <td><input type="checkbox" checked="@et.Orange" /></td>
                        <td><input type="checkbox" checked="@et.Yellow" /></td>
                        <td><input type="checkbox" checked="@et.Green" /></td>
                        <td><input type="checkbox" checked="@et.Blue" /></td>
                        <td><input type="checkbox" checked="@et.Purple" /></td>
                        <td><input type="checkbox" checked="@et.Brown" /></td>
                        <td><input type="checkbox" checked="@et.White" /></td>
                        <td><input type="checkbox" checked="@et.Black" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function clickColor(sender) {
        //alert("clickColor");
        var clickedButton = $(sender);
        var glyphSpan = clickedButton.children();
        if (glyphSpan.hasClass("glyphicon-minus")) {
            //selected
            clickedButton.removeClass("in-limbeau");
            glyphSpan.removeClass("glyphicon-minus");
            glyphSpan.addClass("glyphicon-ok");
            clickedButton.css("background-color", clickedButton.val());
            clickedButton.addClass("selected");
        } else if (glyphSpan.hasClass("glyphicon-ok")) {
            //not selected
            clickedButton.removeClass("selected");
            glyphSpan.removeClass("glyphicon-ok");
            glyphSpan.addClass("glyphicon-remove");
            //clickedButton.css("opacity", 1);
            clickedButton.addClass("not-selected");
        } else if (glyphSpan.hasClass("glyphicon-remove")) {
            //in limbeau
            clickedButton.removeClass("not-selected");
            glyphSpan.removeClass("glyphicon-remove");
            //glyphSpan.addClass("glyphicon-minus");
            ////clickedButton.css("opacity", .6);
            //clickedButton.css("background-color", clickedButton.val());
            //clickedButton.addClass("in-limbeau");
            glyphSpan.addClass("glyphicon-ok");
            clickedButton.css("background-color", clickedButton.val());
            clickedButton.addClass("selected");
        }
    }

    $(function () {
        //var redButton = $("#redButton");
        //redButton.css("background-color", redButton.val());
        //$("#redButton").css("background-color", $("#" + this.id).val());
        //$(".filter-color").css("background-color", this.value);
        
        $(".filter-color").each(function () {
            //alert(this.id);
            //alert(this.value);
            //alert($(this.id).css());   
            $(this).css("background-color", $(this).val())
        });

    });
</script>