@model FlagFinder.Models.Flag

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Name @if (Model.ShortName != "")
    {
        @Html.DisplayFor(model => model.ShortName);
    }
</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <img src="@Model.ImageLocation" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShortName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShortName)
            </dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Red)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Red)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Orange)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orange)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Yellow)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yellow)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Green)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Green)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Blue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Blue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Purple)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Purple)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Brown)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brown)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.White)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.White)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Black)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Black)
            </dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Circle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Circle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Triangle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Triangle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Star)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Star)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sun)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sun)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Moon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Moon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cross)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cross)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TriColorHorizontal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TriColorHorizontal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TriColorVertical)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TriColorVertical)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BiColorHorizontal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BiColorHorizontal)
            </dd>

        </dl>
    </div>
</div>